* {
  margin: 0;
  padding: 0;
}

.main-edit {
  display: flex; 
  flex-direction: column;
  padding: 1.0417% 3.125%;
}

.edit__form-restarant {
  display: flex;
  justify-content: center;
}

.edit__form {
  display: block;
  flex-direction: column;
  width: 89.0625vw;
  max-width: 1710px;
  min-width: 300px;
  align-items: center;
  margin-top: 5.21vw;
  border-radius: 1.0417vw;
  background-color: #a25353;
  padding: 1.0417vw 2.3438vw;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s;
}

.edit__form-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.6vw;
}

.edit__form-container {
  display: flex;
  flex-direction: column;
}

.edit__form-container-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1 0 454.9px;
}

.edit__label {
  font-size: clamp(14px, 1.67vw, 32px);
}

.edit__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 18px;
  left: 0;
  top: 0;
  width: 33.334vw;
  max-width: 640px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.5208vw;
  margin-top: 1.0417vw;
  margin-bottom: 1.0417vw;
}

.edit-container {
  display: flex;
}

.edit-container-time {
  display: flex;
}

.edit-container-tables-save {
  display: flex;
  flex-wrap: wrap;
}

.edit-container-field {
  display: flex;
  flex-direction: column;
}

.edit-town__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 18px;
  left: 0;
  top: 0;
  width: 9.2708vw;
  max-width: 178px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.5208vw;
  margin-top: 1.0417vw;
  margin-bottom: 1.0417vw;
  margin-right: 1.5625vw;
}

.edit-address__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 18px;
  left: 0;
  top: 0;
  width: 21.5104vw;
  max-width: 413px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.5208vw;
  margin-top: 1.0417vw;
  margin-bottom: 1.0417vw;
}

.edit-description__textarea {
  resize: none;
  line-height: 2.0833vw;
  font-size: clamp(14px, 1.67vw, 32px);
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 12.6042vw;
  max-height: 242px;
  left: 0;
  top: 0;
  width: 50.9375vw;
  max-width: 978px;
  min-width: 352px;
  padding: 0.5208vw;
  margin-top: 1.0417vw;
}

.symbols {
  margin-left: auto;
  font-size: clamp(10px, 0.8334vw, 16px);;
}

.edit-description-info__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 18px;
  left: 0;
  top: 0;
  width: 23.9583vw;
  max-width: 460px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.5208vw;
  margin-top: 1.0417vw;
  margin-bottom: 1.0417vw;
  margin-right: 1.8229vw;
}

.edit-description-info-last__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 18px;
  left: 0;
  top: 0;
  width: 23.9583vw;
  max-width: 460px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.5208vw;
  margin-top: 1.0417vw;
  margin-bottom: 1.0417vw;
}

.edit__label-tables {
  font-size: clamp(14px, 1.67vw, 32px);
  color: #a25353;
}

.edit-description-info__input-tables {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 18px;
  left: 0;
  top: 0;
  width: 15.1042vw;
  max-width: 290px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.5208vw;
  margin-top: 0.5208vw;
  margin-bottom: 1.0417vw;
  border: 0.2604vw solid #a25353;
}

.save-tables__btn {
  margin-left: auto;
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 20px;
  min-width: 90px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 290 / 70;
  margin-top: 3.6458vw;
  margin-left: 3.6458vw;
  background-image: url('/save.svg');
  background-size: cover;
  cursor: pointer;
}

.save-tables__text {
  font-size: clamp(10px, 1.3vw, 25px);
  color: #a25353;
  margin-left: 2.8125vw;
  margin-top: 3.1667vw;
  width: 31.25vw;
  flex: 1 0 311px;
}

.save__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 20px;
  min-width: 90px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 290 / 70;
  background-image: url('/save.svg');
  background-size: cover;
  cursor: pointer;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  /* height: 9.375vw;
  max-height: 180px; */
  display: flex;
  align-items: center;
  margin-bottom: 1.0417vw;
}

.imagesAdd {
  display: flex;
  align-items: center;
  margin-bottom: 1.0417vw;
}

.images-content {
  display: flex;
  flex-direction: row;
}

.image {
  width: 14.5833vw;
  height: 9.375vw;
  margin-right: 0.5208vw;
  max-width: 280px;
  max-height: 180px;
  min-width: 127.33px;
  min-height: 83.41px;
}

.change__btns {
  margin-left: 10.4167vw;
  width: 18.75vw;
  height: 3.6458vw;
  max-width: 360px;
  max-height: 70px;
}

.change__btns-addImages {
  margin-left: 10.4167vw;
  width: 18.75vw;
  height: 3.6458vw;
  max-width: 360px;
  max-height: 70px;
}

.addImages_input {
  visibility: hidden;
}

.addImages__btn {
  /* margin-left: auto; */
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 21px;
  min-width: 110px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 360 / 70;
  background-image: url('/changePhoto.svg');
  background-size: cover;
  cursor: pointer;
}

.addMenu_input {
  visibility: hidden;
}

.addMenu__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 21px;
  min-width: 110px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 360 / 70;
  background-image: url('/addMenu.svg');
  background-size: cover;
  cursor: pointer;
}

.addPlan_input {
  visibility: hidden;
}

.addPlan__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.6458vw;
  max-height: 70px;
  min-height: 21px;
  min-width: 110px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 360 / 70;
  background-image: url('/addPlan.svg');
  background-size: cover;
  cursor: pointer;
}

.back-card__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.6458vw;
  max-height: 70px;
  width: auto;
  max-width: 100%;
  min-height: 21px;
  min-width: 170px;
  aspect-ratio: 550 / 70;
  background-image: url('/backCard.svg');
  background-size: cover;
  cursor: pointer;
  margin-bottom: 2.6042vw;
  margin-top: 2.6042vw;
}


@media (max-width: 1200px) {
  .edit__form {
    margin-top: 7.21vw;
  }
}

@media (max-width: 875px) {
  .edit__form {
    margin-top: 9.21vw;
    width: 52.5714vw;
    border-radius: 2.2857vw;
  }
  .edit__form-content {
    gap: 0;
  }
  .edit-container {
    flex-direction: column;
  }
  .edit__input {
    width: 50.9375vw;
    border-radius: 1.7143vw;
  }
  .edit-town__input {
    width: 50.9375vw;
    border-radius: 1.7143vw;
    max-width: none;
  }
  .edit-address__input {
    width: 50.9375vw;
    border-radius: 1.7143vw;
    max-width: none;
  }
  .edit-description__textarea {
    border-radius: 1.7143vw;
    min-width: 0;
    height: 16vw;
  }
  .edit__form-container-description {
    flex: 1 0 254.9px;
  }
  .edit__form-container {
    width: 100%;
  }
  .change__btns {
    min-height: 21px;
  }
  .change__btns-addImages {
    min-height: 21px;
  }
  .edit-description-info-last__input {
    border-radius: 1.7143vw;
  }
  .edit-description-info__input-tables {
    border-radius: 1.7143vw;
  }
  .edit-description-info__input {
    border-radius: 1.7143vw;
  }
}

@media (max-width: 606px) {
  .edit__form {
    margin-top: 13.21vw;
  }
  .imagesAdd {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2.3003vw;
  }
  .images-content {
    margin-bottom: 3.3003vw;
  }
  .change__btns-addImages {
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    width: 30.5281vw;
    height: 19.6254vw;
  }
  .imageAdd {
    min-width: 0;
    min-height: 0;
  }
  .edit-description__textarea {
    line-height: 3.0833vw;
    min-width: 0;
    height: 28.802vw;
  }
}

@media (max-width: 570px) {
  .edit__input {
    min-width: 290px;
  }
  .edit-town__input {
    min-width: 290px;
  }
  .edit-address__input {
    min-width: 290px;
  }
  .edit-description__textarea {
    min-width: 290px;
  }
  .edit-description-info__input {
    min-width: 136px;
  }
  .edit-description-info-last__input {
    min-width: 136px;
  }
  .edit__label-tables {
    font-size: clamp(10px, 2.3102vw, 32px);
  }
}

@media (max-width: 450px) {
  .edit__form {
    margin-top: 18.21vw;
  }
  .edit-description__textarea {
    line-height: 4.0833vw;
    height: 35.802vw;
  }
}
