* {
  margin: 0;
  padding: 0;
}

.restaurant-card {
  padding: 20px 66px;
}

.restaurant-card-content{
  display: flex;
  flex-wrap: wrap;
  gap: 61px;
  margin-bottom: 15px;
}

.description {
  margin-left: 0;
}

.restaurant-name {
  font-size: 60px;
  font-weight: 500;
  color: #a25353;
}

.gallery {
  width: 857px;
}

.gallery-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.active-img {
  display: block;
  margin-right: 61px;
}

.gallery-preview  {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 180px;
}

.preview-item {
  margin: 0;
  margin-bottom: 10px;
  height: 120px;
}

.preview-item img {
  display: block;
}

.preview-item.active a::before {
  background-color: transparent;
}

.preview-item a {
  position: relative;
  display: block;
}

.preview-item a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(253, 253, 255, 0.5);
}

.preview-item:last-child {
  margin-bottom: 0;
}

.gallery__bth {
  margin-top: 20px;
}

.review {
  max-width: 870px;
  flex: 1 0 400px;
}

.restaurant-review {
  line-height: 40px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 400;
  color: #a25353;
}

.restaurant-description {
  max-width: 857px;
  flex: 1 0 400px;
}

.restaurant-description-wrapper {
  background-color: #ececec;
  border-radius: 20px;
  position: relative;
  padding: 10px 14px;
  margin: 15px 0px;
}

.restaurant-card-container {
  display: flex;
  justify-content: space-between;
}

.review-card-name {
  font-size: 32px;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.restaurant__text {
  line-height: 40px;
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.restaurant-description-info {
  margin-top: 10px;
}

/* .menu-popun {
  display: flex;
} */

.menu__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 70px;
  width: 170px;
  background-image: url('/menu.svg');
  background-size: cover;
  margin-right: 32px;
  cursor: pointer;
}

.plan__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 70px;
  width: 360px;
  background-image: url('/plan.svg');
  background-size: cover;
  cursor: pointer;
}

.edit__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 70px;
  width: 343px;
  margin-bottom: 20px;
  background-image: url('/edit.svg');
  background-size: cover;
  cursor: pointer;
}

.book__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 100px;
  width: 330px;
  margin-left: auto;
  background-image: url('/book.svg');
  background-size: cover;
  cursor: pointer;
}
