* {
  margin: 0;
  padding: 0;
}

.restaurant-card {
  padding: 1.04% 3.44%;
}

.restaurant-card-content{
  display: flex;
  flex-wrap: wrap;
  gap: 3.18%;
  margin-bottom: 15px;
}

.description {
  flex-direction: column;
  width: 44.64vw;
  min-width: 550px;
  max-width: 857px;
}

.restaurant-name {
  display: inline-flex;
  align-items: center;
  font-size: clamp(30px, 3.13vw, 60px);
  font-weight: 500;
  color: #a25353;
}

.restaurant-star-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 7.81vw;
  max-width: 160px;
}

.review-star {
  display: flex;
  flex-direction: row;
  width: 5.21vw;
  max-width: 100px;
}

/* .gallery {
  width: 857px;
} */

.gallery-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.active-img {
  display: block;
  margin-right: 7%;
  width: 33vw;
  min-width: 400px;
  max-width: 616px;
  height: 19.79vw;
  min-height: 246px;
  max-height: 380px;
}

.gallery-preview {
  margin: 0;
  padding: 0;
  list-style: none;
  /* width: 180px; */
}

.preview-item {
  margin: 0;
  margin-bottom: 5.56%;
  width: 9.38vw;
  min-width: 112px;
  max-width: 180px;
  height: 6.25vw;
  min-height: 75px;
  max-height: 120px;
}

.preview-img {
  width: 9.38vw;
  max-width: 180px;
  min-width: 112px;
  height: 6.25vw;
  min-height: 75px;
  max-height: 120px;
}

.preview-item img {
  display: block;
}

.preview-item.active a::before {
  background-color: transparent;
}

.preview-item a {
  position: relative;
  display: block;
}

.preview-item a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(253, 253, 255, 0.5);
}

.preview-item:last-child {
  margin-bottom: 0;
}

.gallery__bth {
  margin-top: 1.5625vw;
  margin-bottom: 0.5208vw;
}

.review {
  max-width: 870px;
  flex: 1 0 239px;
}

.restaurant-review {
  line-height: 40px;
  margin-bottom: 10px;
  font-size: clamp(25px, 2.5vw, 48px);
  font-weight: 400;
  color: #a25353;
}

.catalog__more {
  display: flex;
  justify-content: flex-end;
  color: #a25353;
  font-size: clamp(14px, 1.3vw, 25px);
  cursor: pointer;
}

.restaurant-description {
  flex-direction: column;
  max-width: 857px;
  flex: 1 0 239px;
}

.restaurant-description-wrapper {
  background-color: #ececec;
  border-radius: 1.0417vw;
  position: relative;
  padding: 0.5208vw 0.7292vw;
  margin-bottom: 15px;
}

.restaurant-card-container {
  display: flex;
  justify-content: space-between;
}

.review-card-name {
  font-size: clamp(14px, 1.67vw, 32px);
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.restaurant__text {
  /* line-height: 40px; */
  font-size: clamp(14px, 1.67vw, 32px);
  font-weight: 400;
  color: black;
}

.restaurant-description-info {
  margin-top: 10px;
}

/* .menu-popun {
  display: flex;
} */

.menu__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 170 / 70;
  background-image: url('/menu.svg');
  background-size: cover;
  margin-right: 1.6667vw;
  cursor: pointer;
}

.plan__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 360 / 70;
  background-image: url('/plan.svg');
  background-size: cover;
  margin-right: 1.6667vw;
  cursor: pointer;
}

.sale__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 170 / 70;
  background-image: url('/sale.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.edit__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 343 / 70;
  margin-bottom: 20px;
  background-image: url('/edit.svg');
  background-size: cover;
  cursor: pointer;
}

.book__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 330 / 100;
  margin-left: auto;
  background-image: url('/book.svg');
  background-size: cover;
  cursor: pointer;
}


@media (max-width: 1243px) {
  .preview-item {
    margin-bottom: 10px;
  }
  .restaurant-description-wrapper {
    border-radius: 1.8857vw;
    padding: 1.0208vw 1.2292vw;
  }
}

@media (max-width: 875px) {
  .restaurant-name {
    font-size: clamp(30px, 5.49vw, 48px);
  }
  .restaurant-review {
    font-size: clamp(25px, 3.66vw, 32px);
  }
  .description {
    width: 100%;
    min-width: 400px;
  }
  .active-img {
    margin-right: 7%;
    width: 70.4vw;
    height: 43.43vw;
  }
  .preview-item {
    margin-bottom: 5.56%;
    width: 20.57vw;
    height: 13.71vw;
  }
  .preview-img {
    width: 20.57vw;
    height: 13.71vw;
  }
  .restaurant-star-container {
    width: 15vw;
  }
  .review-star {
    width: 10vw;
  }
  .menu__btn {
    height: 5.69vw;
    max-height: 50px;
    aspect-ratio: 121.43 / 50;
    /* margin-right: 32px; */
  }
  .plan__btn {
    height: 5.69vw;
    max-height: 50px;
    aspect-ratio: 257.14 / 50;
  }
  .sale__btn {
    height: 5.69vw;
    max-height: 50px;
    aspect-ratio: 121.43 / 50;
  }
  .edit__btn {
    height: 5.69vw;
    max-height: 50px;
    aspect-ratio: 245 / 50;
    /* margin-bottom: 20px; */
  }
  .book__btn {
    height: 6.83vw;
    max-height: 60px;
    aspect-ratio: 198 / 60;
    margin-left: auto;
  }
}

@media (max-width: 605px) {
  .gallery-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .gallery-preview {
    display: flex;
  }
  .active-img {
    margin-right: 0;
    width: 93.89vw;
    max-width: 562px;
    height: 57.31vw;
    max-height: 346.75px;
  }
  .preview-item {
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 29.75vw;
    height: 19.83vw;
  }
  .preview-img {
    width: 29.75vw;
    height: 19.83vw;
  }
  .preview-item:last-child {
    margin-right: 0;
  }
  .restaurant-star-container {
    width: 17vw;
  }
  .review-star {
    width: 12vw;
  }
  .menu__btn {
    height: 6.61vw;
    max-height: 40px;
    aspect-ratio: 97,14 / 40;
    margin-right: 20px;
  }
  .plan__btn {
    height: 6.61vw;
    max-height: 40px;
    aspect-ratio: 205,71 / 40;
  }
  .sale__btn {
    height: 6.61vw;
    max-height: 40px;
    aspect-ratio: 97,14 / 40;
    margin-right: 20px;
  }
  .edit__btn {
    height: 6.61vw;
    max-height: 40px;
    aspect-ratio: 196 / 40;
    /* margin-bottom: 20px; */
  }
  .book__btn {
    height: 8.26vw;
    max-height: 50px;
    aspect-ratio: 165 / 50;
    margin-left: auto;
  }
}

@media (max-width: 430px) {
  .description {
    width: 100%;
    min-width: 100px;
  }
  .active-img {
    min-height: 0;
    min-width: 0;
  }
  .preview-item {
    min-height: 0;
    min-width: 0;
  }
  .preview-img {
    min-height: 0;
    min-width: 0;
  }
  .menu__btn {
    min-height: 23px;
  }
  .plan__btn {
    min-height: 23px;
  }
  .sale__btn {
    min-height: 23px;
  }
  .edit__btn {
    min-height: 23px;
  }
  .book__btn {
    min-height: 28px;
  }
}
