* {
  margin: 0;
  padding: 0;
}

.main-table {
  padding: 1.04% 3.44%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  gap: 5.20833%;
  justify-content: space-around;
  margin-top: 1.04167vw;
}

.plan__img {
  width: 45.03229vw;
  max-width: 862.62px;
  height: 27.86458vw;
  max-height: 535px;
  margin-bottom: 2.08333vw;
}

.table__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 378.45px;
}

.table__label {
  line-height: normal;
  font-size: clamp(25px, 2.5vw, 48px);
  color: #a25353;
  /* margin-right: 60px; */
  /* justify-content: flex-start */
}

.table__select {
  border: none;
  background-color: #ececec;
  border-radius: 15px;
  height: 4.6875vw;
  max-height: 90px;
  min-height: 40px;
  left: 0;
  top: 0;
  width: 24.13802vw;
  max-width: 463.45px;
  min-width: 241.38px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.52083vw;
  margin-top: 1.04167vw;
  margin-bottom: 1.04167vw;
}

.table-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.back__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 4.16667vw;
  max-height: 80px;
  min-height: 30px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 264 / 80;
  background-image: url('/back.svg');
  background-size: cover;
  cursor: pointer;
}

.reserval__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 4.16667vw;
  max-height: 80px;
  min-height: 30px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 264 / 80;
  background-image: url('/reserval.svg');
  background-size: cover;
  cursor: pointer;
  margin-left: 2.08333vw;
}


@media (max-width: 875px) {
  .plan__img {
    width: 93.02857vw;
    max-width: 814px;
    height: 57.94286vw;
    max-height: 507px;
  }
  .table__field {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.28571vw;
  }
  .table__label {
    margin-right: 2.28571vw;
    font-size: clamp(20px, 2.8571vw, 48px);
  }
  .table__select {
    border-radius: 10px;
    min-width: 140px;
    min-height: 35px;
  }
}

@media (max-width: 450px) {
  .table__field {
    flex: 1 0 100px;
  }
  .back__btn {
    min-height: 25px;
  }
  .reserval__btn {
    min-height: 25px;
  }
}
