* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #a25353;
  height: 163px;
  left: 0;
  /* position: fixed; */
  /* width: 100%; */
  top: 0;
  width: 1920px;
  display: flex;
}

.logo {
  height: 97px;
  width: 438px;
  margin-right: auto;
  margin-left: 50px;
  margin-top: 33px;
  margin-bottom: 33px;
  cursor: pointer;
}

.login__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 100px;
  width: 330px;
  background-image: url('/login.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 32px;
  margin-bottom: 31px;
  cursor: pointer;
}

.logout__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 100px;
  width: 221px;
  background-image: url('/logout.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 32px;
  margin-bottom: 31px;
  cursor: pointer;
}

.profile__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 100px;
  width: 330px;
  background-image: url('/profile.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 32px;
  margin-bottom: 31px;
  cursor: pointer;
}
