* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #a25353;
  height: 7.81vw;
  left: 0;
  top: 0;
  max-width: 1920px;
  /* width: 100%; */
  width: 100vw;
  max-height: 150px;
  display: flex;
  align-items: center;
}

.logo {
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 450 / 100;
  margin-right: auto;
  margin-left: 2.6%;
  background-image: url('/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.login__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 330 / 100;
  background-image: url('/login.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
}

.logout__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 180 / 100;
  background-image: url('/logout.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 2.08%;
  cursor: pointer;
}

.profile__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 330 / 100;
  background-image: url('/profile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 2.08%;
  cursor: pointer;
}


@media (max-width: 875px) {
  .login__btn {
    width: 0;
    height: 0;
  }
  .logout__btn {
    width: 0;
    height: 0;
  }
  .profile__btn {
    width: 0;
    height: 0;
  }
  .logo {
    height: 7.77vw;
    max-height: 66px;
    width: auto;
    max-width: 500px;
  }
  .header {
    height: 11.43vw;
    max-height: 100px;
  }
}
