* {
  margin: 0;
  padding: 0;
}

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.8%;
  flex-direction: row;
  padding: 1.04% 3.44%;
  min-height: 609px;
}

.data-user {
  display: inline-flex; 
  flex-direction: column;
  max-width: 420px;
  width: 21.88vw;
  margin-bottom: 3%;
}

.reservations {
  max-width: 1295px;
  flex: 1 0 592.550px;
}

.book-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 1280px; */
}

.data-user__name {
  font-size: clamp(25px, 2.5vw, 48px);
  color: #a25353;
  margin-bottom: 20px;
  font-weight: 400;
}

.filter__input {
  border: none;
  background-color: #a25353;
  border-radius: 0.7813vw;
  height: 2.34vw;
  min-height: 20px;
  left: 0;
  top: 0;
  width: 21.35vw;
  max-width: 410px;
  min-width: 100px;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 0.773%;
  color: white;
}

.filter__input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Инвертирование цвета для иконки календаря */
}

.reserval-small-card {
  display: flex;
  justify-content: space-between;
  /* width: 1280px; */
  /* height: 180px; */
  background-color: #ececec;
  border-radius: 1.0417vw;
  margin-bottom: 1.653%;
  padding: 1.545% 1.777%;
}

.reserval-small-card-container {
  width: 100%;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch__bth {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 1.04vw;
  max-height: 20px;
  min-height: 8px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 40 / 20;
  background-image: url('/switch.svg');
  background-size: cover;
  /* margin-top: 55px; */
  cursor: pointer;
}

.reserval-small-card-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.479%;
  height: 2.6vw;
  max-height: 50px;
}

.reserval-small-card-name {
  font-weight: 500;
  font-size: clamp(14px, 1.67vw, 32px);
  color: black;
  margin-right: 1.653%;
}

.reserval-star-container {
  display: flex;
  flex-direction: row;
  width: 7.81vw;
  max-width: 160px;
}

.reserval-small-card-info {
  display: flex;
  font-size: clamp(14px, 1.67vw, 32px);
  color: black;
}

.reserval-small-card-text {
  font-weight: 500;
  font-size: clamp(14px, 1.67vw, 32px);
  color: black;
  margin-right: 2.736%;
}

.cancel__bth {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  min-height: 23px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 300 / 70;
  background-image: url('/cancel.svg');
  background-size: cover;
  margin-top: 1.653%;
  cursor: pointer;
}

.grade__bth {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  min-height: 23px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 170 / 70;
  background-image: url('/grade.svg');
  background-size: cover;
  margin-top: 1.653%;
  cursor: pointer;
}

.data-user__form {
  display: flex; 
  flex-direction: column;
  position: relative;
  width: 19.06vw;
  max-width: 366px;
  border-radius: 1.0417vw;
  background-color: #a25353;
  padding: 4.764% 6.43%;
}

.data-user__label {
  font-size: clamp(14px, 1.67vw, 32px);
}

.data-user__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 0.7813vw;
  /* height: 40px; */
  left: 0;
  top: 0;
  font-size: clamp(14px, 1.67vw, 32px);
  padding: 2.736%;
  margin-bottom: 2.736%;
}

.save-edit__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 3.65vw;
  max-height: 70px;
  min-height: 25px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 290 / 70;
  background-image: url('/save.svg');
  background-size: cover;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
};

.error-message {
  color: #ff0000;
  background-color: #ffe6e6;
  border: 1px solid #ff0000;
  padding: 0.5208vw;
  text-align: center;
  border-radius: 0.7813vw;
  font-size: clamp(14px, 21.04vw, 20px);
  margin-top: 0.5208vw;
}

.success-message {
  color: #008000;
  background-color: #90EE90;
  border: 1px solid #008000;
  padding: 0.5208vw;
  text-align: center;
  border-radius: 0.7813vw;
  font-size: clamp(14px, 21.04vw, 20px);
  margin-top: 0.5208vw;
}


@media (max-width: 1200px) {
}

@media (max-width: 875px) {
  .data-user {
    align-items: center;
    width: 48vw;
    max-width: 100%;
  }
  .data-user__name {
    font-size: clamp(25px, 3.66vw, 32px);
  }
  .data-user__input {
    border-radius: 1.7143vw;
  }
  .reserval-small-card {
    border-radius: 2.2857vw;
  }
  .filter__input {
    border-radius: 1.7143vw;
    height: 2.34vw;
    width: 21.35vw;
    font-size: clamp(14px, 1.67vw, 32px);
    padding: 1.229%;
  }
  .data-user__form {
    width: 41.83vw;
    border-radius: 2.2857vw;
  }
  .data-user__name {
    margin-bottom: 10px;
  }
  .save-edit__btn {
    height: 3.65vw;
  };
}

@media (max-width: 866px) {
  .reservations {
    flex: 1 0 360px;
  }
}

@media (max-width: 500px) {
  .reserval-small-card {
    padding: 2.545% 2.777%;
  }
}

@media (max-width: 400px) {
  .reservations {
    flex: 1 0 200px;
  }
  .reserval-small-card {
    padding: 3.545% 3.777%;
  }
}
