* {
  margin: 0;
  padding: 0;
}

.modal-review {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
}
  
.modal-review-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.modal-review-content {
  position: relative;
  margin-top: 136px;
  width: 47.0833vw;
  max-width: 904px;
  border-radius: 20px;
  background-color: #a25353;
  padding: 1.667% 2.5% 1.511% 2.5%;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s;
}

.review__form {
  display: flex;
  flex-direction: column;
}

.review__fields {
  display: flex;
}

.review-button__fields {
  display: flex;
  justify-content: space-around;
}

.review-text {
  font-size: clamp(25px, 2.5vw, 48px);
  /* line-height: 70px; */
  margin-right: 20px;
}

.review-star-container {
  display: flex;
  flex-direction: row;
  width: 8.33vw;
  max-width: 160px;
}

input[type=radio] {
  display: none;
}

.star {
  cursor: pointer;
}

.review__textarea {
  resize: none;
  /* line-height: 40px; */
  font-size: clamp(14px, 1.67vw, 32px);
  border: none;
  background-color: #FFFFFF;
  border-radius: 20px;
  height: 17.625vw;
  left: 0;
  top: 0;
  width: 45vw;
  max-width: 864px;
  padding: 2.3148%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cancel-review__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 330 / 100;
  background-image: url('/cancel-review.svg');
  background-size: cover;
  cursor: pointer;
  /* margin-left: 68px; */
  /* margin-right: 107px; */
}

.save-review__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 5.21vw;
  max-height: 100px;
  width: auto;
  max-width: 100%;
  aspect-ratio: 330 / 100;
  background-image: url('/save-review.svg');
  background-size: cover;
  cursor: pointer;
  /* margin-top: 19px;
  margin-right: auto; */
}
