* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #664242;
  height: 4.17vw;
  max-height: 80px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 0px 3.39%;
}

.footer-text {
  font-size: clamp(14px, 1.58vw, 32px);
  color: #ffffff;
}

@media (max-width: 875px) {
  .footer {
    height: 9.3vw;
  }
  .footer-text {
    font-size: clamp(10px,  2.74vw, 24px);
  }
}
