 :root {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x:hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  color: white;
}

input {
  font-family: "Jost", sans-serif;
}

textarea {
  font-family: "Jost", sans-serif;
}
