* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.modall {
  display: flex; 
  flex-direction: column;
  position: relative;
  margin-top: 108px;
  /* width: 100%;
  max-width: 640px; */
  width: 640px;
  border-radius: 20px;
  background-color: #a25353;
  padding: 12px 45px 37px 45px;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s;
}

.appoint__text {
  text-align: center;
  font-size: 48px;
  margin-bottom: 7px;
  font-weight: 500;
}

.appoint__field {
  margin-bottom: 5px;
  margin-top: 11px;
}

.appoint__label {
  font-size: 32px;
}

.appoint__input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 90px;
  left: 0;
  top: 0;
  width: 640px;
  font-size: 32px;
  padding: 10px;
}

.appoint {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding-top: 30px;
}

.appoint__btn {
  border: 0; 
  outline: none; 
  background-color: transparent;
  border: none;
  height: 100px;
  width: 259px;
  background-image: url('/appoint.svg');
}