* {
  margin: 0;
  padding: 0;
}

.loading {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 1920px;
  height: 800px;
}

.loading__text {
  line-height: normal;
  font-size: 48px;
  color: #a25353;
}
