* {
  margin: 0;
  padding: 0;
}

.modal-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
}
  
.modal-photo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.photo {
  width: 68.49vw;
  max-width: 1315px;
  height: 39.53vw;
  max-height: 759px;
}


@media (max-width: 875px) {
  .photo {
    width: 80vw;
    height: 46.04vw;
  }
}

@media (max-width: 605px) {
  .photo {
    width: 90vw;
    height: 52.03vw;
  }
}
