* {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

.promo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 592px;
}
    
.promo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/promo.jpg');
    filter: brightness(60%);
    z-index: -1;
}
    
.search__form {
    position: relative; /* Для позиционирования псевдоэлемента относительно формы */
}
    
.search__input {
    border: none;
    background-color: #a25353;
    border-radius: 15px;
    height: 50px;
    width: 1460px;
    font-size: 32px;
    color: white;
    padding: 20px;
    position: relative; /* Для позиционирования псевдоэлемента относительно поля ввода */
    z-index: 0;
}
    
.search__input::after {
    content: ''; /* Замените на путь к вашему изображению */
    background-image: url('/loupe.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px; /* Расстояние от правого края поля ввода */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Центрирование по вертикали */
    pointer-events: none; /* Чтобы клики по изображению не блокировали ввод текста */
    z-index: 1;
}

.catalog__restaurants-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(885px, 1fr));
    gap: 30px;
    margin: 0;
    padding: 50px;
}

.restaurant-small-card {
    display: flex;
    flex-direction: row;
    width: 885px;
    height: 396px;
    background-color: #ffe5e5;
    border-radius: 20px;
}

.main-image {
    width: 424px;
    height: 396px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.restaurant-small-card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.restaurant-small-card-name {
    font-weight: 300;
    font-size: 48px;
    color: #1e1e1e;
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 30px;
    text-decoration-thickness: 1px;
    margin-bottom: 40px;
}

.restaurant-small-card-info {
    font-weight: 400;
    font-size: 32px;
    color: black;
}
